@import url('https://fonts.googleapis.com/css?family=Anton|Patua+One|Varela+Round&display=swap');


/* ------------------------NAV BAR-------------------------- */


.navDefault {
       top: 0;
    right: 0;
    position: fixed;
    background-color: transparent;
    z-index: 1;
    padding: 15px;
}

button {
       border: none;
    background-color: transparent;
    width: 100px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
}

.dropdownMenu {
       list-style: none;
    margin: 0;
    position: absolute;
    padding: 0;
    top: 50px;
    width: 100px;
    z-index: -1;
    text-align: center;
    transition: background-color .6s ease-in-out, transform .2s ease-in-out;;
    transform: translateX(150%);
}
.dropdownLink {
    text-decoration: none;
    display: block;
    background-color: transparent;
    padding: 2px 2px;
    color: white;
    transition: color .2s ease-in-out;
    font-family: "Patua One",sans-serif;
    font-size: 15px;
    letter-spacing: 2px
}

.dropdown:hover .dropdownLink {
    text-decoration: none;
}


.dropdown:hover .dropdownMenu {
    transform: translateX(0);
}

.dropdown {
        width: 100px;
    position: relative;
}

.dropdown:hover button {
   color: orange;
}

.dropdownLink:hover {
    color: orange;
}



/* ------------------------------Jumbotron--------------------------- */

.callout-container {
    height: 100vh;

    background: url("https://cdn.pixabay.com/photo/2017/01/09/11/30/dumbbell-1966247_1280.jpg") no-repeat bottom right fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 100px;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.divider-orange {
    background-color: orange;
    height: 1px;
    width: 200px;
}

.statement {
    color: #4a4a4f;
    text-transform: uppercase;
    margin-top: 10px;
}

.sign-up-button {
    background-color: orange;
    border: none;
    height: 45px;
    width: 100px;
    border-radius: 5%;
    margin-top: 10px;
    z-index: 1;
    color: black;
    font-family: "Patua One", sans-serif;
    letter-spacing: 1px;
}


/* -------------------------------------CARDS PAGE 2-------------------------------- */

.card {
    width: 39.5%;
    margin-left: 7%;
    margin-top: 5%;
    border: none;
    background-color: #4a4a4f;
    /* float: left; */
    display: inline-block;
    position: relative;
    margin-bottom: 10%;
}

@media (max-width: 1000px) {
    .card {
        width: 80%;
        float: none;
        margin-left: 10%;
    }
}



.cardtext {
    text-align: center;
    text-decoration: none;
    padding: 20% 3%;
    font-size: 2vw;
    font-family: "Anton", sans-serif;
    color: transparent;
    position: absolute;
}

@media (max-width: 1000px) {
    .cardtext {
        font-size: 4vw;
    }
}

.cardimagetitle {
    text-align: center;
    text-decoration: none;
    position: absolute;
    padding-top: 5%;
    right: 5%;
    font-size: 4vw;
    font-family: "Anton", sans-serif;
    color: #4a4a4f;
}

.cardimage {
    width: 100%;
    border: 3px solid orange;
    box-shadow: 10px 13px;
    background-color: #4a4a4f;
}

.cardimage2 {
    width: 100%;
    border: 3px solid orange;
    box-shadow: 10px 13px;
    background-color: #4a4a4f;
}

.page2 {
    background-color: #4a4a4f;
    display: block;
}

.listitemlink2 {
    padding: 0;
    font-family: "Patua One", sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    display: inline;
    transition: color .2s ease-in-out, font-size .2s ease-in-out;
}

.listitemlink2:hover {
    text-decoration: none;
    color: orange;
}

.pagedivider {
    background-color: black;
    height: 1%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.divider-page {
    margin: 0;
    padding: 0;
    height: 10px;
    width: 100%;
    background-color: black;
}

.page2title {
    color: white;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;

}

.divider-black {
    background-color: black;
    height: 1px;
    width: 150px;
}


.card:hover .opaque-overlay2 {
    z-index: 1;
}

.card:hover .cardimagetitle {
    color: transparent;
}

.card:hover .cardtext {
    color: orange;
    z-index: 2;
}


.opaque-overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.opaque-overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.card:hover .opaque-overlay3 {
    z-index: 1;
}

.card:hover .cardimagetitle {
    color: transparent;
}

.card:hover .cardtext {
    color: orange;
    z-index: 2;
}













/* PAGE 4 */

.page4 {
       background-color: black;
       display: block;
       width: 100%;
       position: relative;
       padding: 0;
       margin: 0;
}

.pagedivider2 {
    background-color: black;
    height: 1%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.divider-page2 {
    margin: 0;
    padding: 0;
    height: 10px;
    width: 100%;
    background-color: black;
}

.quotes {
    height: 400px;
    background-color: #fff;
}
















/* ------------FORM -------------- */

contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 4%;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}
}


