@import url('https://fonts.googleapis.com/css?family=Anton|Patua+One|Varela+Round&display=swap');


/* ------------------------NAV BAR-------------------------- */


.navDefault {
    top: 0;
    right: 0;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    padding: 15px;
}

.ullist {
    text-align: center;
}

.dropdownMenu {
    padding: 0;
    display: inline;
}

.dropdownMenu2 {
    padding: 0;
    display: inline;
}

ul {
    list-style: none;
    padding-left: 15px;
    display: block;
}

.listitem {
    margin-left: 15px;
    display: inline;
}

.listitemlink {
    padding: 0;
    font-family: "Patua One", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #4a4a4f;
    text-decoration: none;
    display: inline;
    transition: color .2s ease-in-out, font-size .2s ease-in-out;
}

.listicon {
    margin-right: 5px;
}


.listitemlink:hover {
    text-decoration: none;
    color: orange;
}


@media (max-width: 590px) {
    .dropdownMenu {
        display: block;
        margin-bottom: 0;
    }
    .dropdownMenu2 {
        display: block;
    }
    .navDefault {
        left: 0;
    }
}

/* ------------------------------Jumbotron--------------------------- */

.callout-container {
    height: 100vh;

    background: url("https://cdn.pixabay.com/photo/2017/01/09/11/30/dumbbell-1966247_1280.jpg") no-repeat bottom right fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 100px;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.divider-orange {
    background-color: orange;
    height: 1px;
    width: 200px;
}

.statement {
    color: #4a4a4f;
    text-transform: uppercase;
    margin-top: 10px;
}

.sign-up-button {
    background-color: orange;
    border: none;
    height: 45px;
    width: 100px;
    border-radius: 5%;
    margin-top: 10px;
    z-index: 1;
}


